.container-emotion {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  padding: 20px;
  gap: 10px;
}

#content {
  gap: 10px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#tabs {
  height: 100%;
  min-width: fit-content;

  img {
    height: 48px;
  }
}

main {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#list {
  gap: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  img {
    height: 128px;
  }
}

@media (max-width: 800px) {
  .hidden {
    display: none;
  }
}
